.page-container {
  padding: 50px 40px 0px 40px;
  margin-left: 100px;
  margin-top: var(--header-height);
  margin-bottom: var(--music-player-height);
}

.page-container--no-padding {
  padding: 0;
}

@media (max-width: 600px) {
  .page-container {
    margin-left: 0;
  }
}
